﻿@inherits LayoutComponentBase
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudLayout>
    <MudAppBar Elevation="1" Dense="true">

    </MudAppBar>
    <MudDrawer @bind-Open="@open" Breakpoint="Breakpoint.Xxl" ClipMode="DrawerClipMode.Always" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true">
        <MudNavMenu>
            <MudNavLink Icon="@Icons.Material.Filled.Home" Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Numbers" Href="/counter" Match="NavLinkMatch.All">Counter</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.TableRows" Href="/fetchdata" Match="NavLinkMatch.All">Fetch Data</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="page" >
       this is some text 
    </MudMainContent>
</MudLayout>

@code
{
    bool open = false;
}