﻿@* <MudPaper Height="200px" Style="overflow:hidden; position: relative;"> *@
    <MudDrawerContainer Class="mud-height-full">
        <MudDrawer @bind-Open="@open" Fixed="false" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true">
            <MudNavMenu>
                <MudNavLink Icon="@Icons.Material.Filled.Home" Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
                <MudNavLink Icon="@Icons.Material.Filled.Numbers" Href="/counter" Match="NavLinkMatch.All">Counter</MudNavLink>
                <MudNavLink Icon="@Icons.Material.Filled.TableRows" Href="/fetchdata" Match="NavLinkMatch.All">Fetch Data</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
    </MudDrawerContainer>
@* </MudPaper> *@

@code {
    bool open = false;

    void ToggleDrawer()
    {
        open = !open;
    }


}