﻿@page "/counter"
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims

@attribute [Authorize]
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<AuthorizeView Roles="NotReal">
    
    <NotAuthorized>
        <span>You are not in the 'NotReal' role</span>
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="Admin">
    <Authorized>
        You are in the Admin Role
    </Authorized>
    <NotAuthorized>
        You are not in the admin role
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        still nope
    </NotAuthorized>
    <Authorized>
        Authorized as @context.User.Identity.Name;
        You are in 
        @{
            foreach (var claim in context.User.Claims)
            {
                <span>@claim.Value</span><br />
            }
        }
    </Authorized>
</AuthorizeView>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}