﻿@page "/"
@using Todo.Model.Entity
@inject HttpClient _http

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

@code
{
    protected override async Task OnInitializedAsync()
    {
        var items = await _http.GetFromJsonAsync<IEnumerable<TodoItem>>("api/v1/todoItem");
        Console.WriteLine(string.Join(",", items));
    }
    
}
